<?xml version="1.0" encoding="utf-8"?>
<!-- ***************************************************************************
* Wintellect Debugging .NET
* Copyright © 2007 John Robbins All rights reserved.
**************************************************************************** -->
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Fragment>
    <ComponentGroup Id="groupElevate">
      <ComponentRef Id="component_ELEVATE_0"/>
      <ComponentRef Id="component_ELEVATE_1"/>
      <ComponentRef Id="component_ELEVATE_2"/>
      <ComponentRef Id="component_ELEVATE_3"/>
      <ComponentRef Id="component_ELEVATE_4"/>
      <ComponentRef Id="component_ELEVATE_5"/>
      <ComponentRef Id="component_ELEVATE_6"/>
      <ComponentRef Id="component_ELEVATE_7"/>
    </ComponentGroup>
    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="directoryElevate" Name="Elevate">
        <Component Id="component_ELEVATE_0" KeyPath="yes" DiskId="1" Guid="8A5F83DC-4ABE-44F5-BFC8-2D83C2A971E4">
          <File Id="file_ELEVATE_0" Name="CONSTA_1.CS" LongName="Constants.Designer.cs" src="..\..\Elevate\Constants.Designer.cs" />
        </Component>
        <Component Id="component_ELEVATE_1" KeyPath="yes" DiskId="1" Guid="7F163742-E43D-42FF-8F73-27476BBA21B2">
          <File Id="file_ELEVATE_1" Name="CONSTA_1.RES" LongName="Constants.resx" src="..\..\Elevate\Constants.resx" />
        </Component>
        <Component Id="component_ELEVATE_2" KeyPath="yes" DiskId="1" Guid="D7A60BBD-E7D8-4706-ABA3-F29B1080003F">
          <File Id="file_ELEVATE_2" Name="ELEVAT_1.CSP" LongName="Elevate.csproj" src="..\..\Elevate\Elevate.csproj" />
        </Component>
        <Component Id="component_ELEVATE_3" KeyPath="yes" DiskId="1" Guid="52B8BFAD-18B4-49FC-8616-4D50836A9429">
          <File Id="file_ELEVATE_3" Name="Elevate.sln" src="..\..\Elevate\Elevate.sln" />
        </Component>
        <Component Id="component_ELEVATE_4" KeyPath="yes" DiskId="1" Guid="7DDC5CAC-A0EA-4AC5-87E5-EE9DC5D97E17">
          <File Id="file_ELEVATE_4" Name="Elevate.wxs" src="..\..\Elevate\Elevate.wxs" />
        </Component>
        <Component Id="component_ELEVATE_5" KeyPath="yes" DiskId="1" Guid="3E722E4C-29B6-4227-81CF-36F70D1FF4F0">
          <File Id="file_ELEVATE_5" Name="ELEVAT_1.CS" LongName="ElevateArgParser.cs" src="..\..\Elevate\ElevateArgParser.cs" />
        </Component>
        <Component Id="component_ELEVATE_6" KeyPath="yes" DiskId="1" Guid="AD34ECE4-AD25-4072-9A62-5D41EED24069">
          <File Id="file_ELEVATE_6" Name="Program.cs" src="..\..\Elevate\Program.cs" />
        </Component>
        <Directory Id="directoryElevateProperties" Name="PROPER_1" LongName="Properties">
          <Component Id="component_ELEVATE_7" KeyPath="yes" DiskId="1" Guid="ECE98D04-0DA5-46BE-8736-EAA63E44506C">
            <File Id="file_ELEVATE_7" Name="ASSEMB_1.CS" LongName="AssemblyInfo.cs" src="..\..\Elevate\Properties\AssemblyInfo.cs" />
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>
